.Bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: #f5f5f5;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.barItem {
    flex: 1;
    height: 100%;
    background-color: gray;
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 0 1px;
}

.barItem:hover {
    background-color: black !important;
}

.ResultPage {
    margin-top: 70px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.Form {
   
    /* background-color: #fff; */
    padding: 1rem;
    width: 100%;
    max-width: 1400px;
}

.StatsContainer {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
  
.TeamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.TeamLogo {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
}
  
.GameDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Score {
    font-size: 2rem;
}

.Stage {
    margin-top: 0.5rem;
    color: #70757a;
    text-align: center;
}

hr {
    border-top: 1px solid #70757a;
}

.TeamName,
.League {
    color: #007bff;
    cursor: pointer;
    text-align: center;
}
.TeamName:hover,
.League:hover {
    text-decoration: underline;
}

.TeamContainer,
.GameDetails {
    width: 33.33%;
}
  
@media screen and (max-width: 768px) {
    .ResultPage {
      flex-direction: column;
      align-items: center;
    }

    .TeamLogo {
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
    }
}
  

@media (max-width: 600px) {
    .ResultPage {
        margin-top: 0;
        padding-top: 0;
    }

    .Form {
        width: auto;
        padding: 0.5rem
    }
    
    .Bar {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      height: auto;
      z-index: 0;
    }
  
    .barItem {
      margin: 5px 0;
      width: 100%;
    }
}